@model mvcweb.Models.UsersVM

@{
    ViewBag.Title = "Change Pass word";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<h2>Users</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thay đổi mật khẩu cho : <span class"control-label col-md-6">@Html.DisplayFor(model => model.UserName)</span></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
    <div class="form-group">
        <label class="control-label col-md-2" for="PassWord">New Password</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, "", new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="PassWord">New Password</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PassWord, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
